body {
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin:8px 0px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /*para que se quede dentro de la ventana*/
}

input[type=submit] {
    width: 100%; /*ancho*/
    color:white;
    background-color: #4caf50;
    padding: 14px 20px;
    margin:8px 0px;
    border:none;
    border-radius:4px;
    cursor:pointer; /*cursor por encima*/
}

.box {
    background-color: white;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin:8px 0px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}